.footer {
    float: end;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a8c3db;
    color: white;
    text-align: center;
    height: 85px;
    box-sizing: border-box;
    background: radial-gradient(#3974d4, #264982)
}

.footer-div {
    float: left;
    margin: 30px 180px 30px 180px;
}
.footer a {
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}

.footer a:hover {
    color: #bacfef;
}

