.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#profile-div {
  padding: 40px;
}

.follow {
    background: rgba(120, 120, 120, 0.4);
    color: #333333;
    padding: 5px 12px;
    text-decoration: none;
}
.follow:hover {
    background: rgba(120, 120, 120, 0.7);
    cursor: pointer;
}
.unfollow {
    background: rgba(120, 120, 120, 0.7);
}